<!doctype html>
<html lang="en">
  <head>
    <title>Edit recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="d-flex justify-content-end">
        <a href="/recipes">
            Back to Recipes
        </a>
        <a href="/user/logout">
            logout
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <h1 class="bg-primary p-3">
                    Edit recipe!
                    {% for message in get_flashed_messages(category_filter=['reg']) %}
                    <p class="text-danger">{{message}}</p>
                    {% endfor %}
                </h1>
                <form method="POST" action="/recipe/update/{{current_recipe.id}}">
                    <div class="form-group">
                        <label>
                            Name:
                        </label>
                        <input type="text" name="name" class="form-control" value="{{current_recipe.name}}">
                        {% for message in get_flashed_messages( category_filter = ["error_recipe_name"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Description:
                        </label>
                        <textarea type="text" name="description" class="form-control">{{current_recipe.description}}</textarea>
                        {% for message in get_flashed_messages( category_filter = ["error_recipe_description"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Instructions
                        </label>
                        <textarea  name="instructions" class="form-control">{{current_recipe.instructions}}</textarea>
                        {% for message in get_flashed_messages( category_filter = ["error_recipe_instructions"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Date Cooked/made:
                        </label>
                        <input type="date"  name="cooked_date" class="form-control">
                        {% for message in get_flashed_messages( category_filter = ["error_recipe_cooked_date"] ) %}
                            {{message}}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>
                            Under 30 minutes:
                        </label>
                        <div>
                            Yes: <input type="radio"  name="under_30" class="form-control" value="1"
                                    {% if current_recipe.under_30 == 1 %} checked {% endif %} />
                            No: <input type="radio"  name="under_30" class="form-control" value="0"
                                    {% if current_recipe.under_30 == 0 %} checked {% endif %} />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>